@model MyFirstMVCApplication.Models.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id = Model.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.StudentId })
        </td>
    </tr>


</table>
